<header class="header">
    <div class="logo-container" (click)="downloadResume()">
        <mat-icon fontIcon="contact_page" class="icon"></mat-icon>
    </div>

    <nav class="menu">
        <ul class="list-options">
            <li class="option" (click)="selectCategory('1')">Profile</li>
            <li class="option" (click)="selectCategory('2')">Contact</li>
            <li class="option" (click)="selectCategory('3')">Skills</li>
            <li class="option" (click)="selectCategory('4')">Experience</li>
            <li class="option" (click)="selectCategory('5')">Studies</li>
        </ul>
    </nav>
</header>
