<div class="content-container">
    <app-category-title class="category-title" [title]="'Projects'"></app-category-title>
    <div class="projects-container">
        <div class="list-container">
            <div class="project" *ngFor="let project of projects">
                <span class="title">{{project.title}}</span>
                <span class="description text"><span class="enhance">Description: </span>{{project.description}}</span>
                <span class="used-tech text"><span class="enhance">Used Technology: </span>{{project.usedTech}}</span>
                <span class="link text"><span class="enhance">Link: </span> <a href="{{project.link}}">Go to</a></span>
            </div>
        </div>

        <mat-icon fontIcon="code" class="icon"></mat-icon>
    </div>
</div>
