<div class="container">
    <app-header class="header" (categorySelected)="categorySelect($event)"></app-header>

    <article class="content-container">
        <div class="main-data">
            <div class="texts">
                <span class="name">Gustavo Hernández Cano</span>
                <span class="title">Software Developer Jr</span>
            </div>

            <div class="imagen-container">
                <img src="assets/photo.jpg" alt="Photo" class="photo">
            </div>
            
        </div>
        
        <div #profile class="category"><app-profile></app-profile></div>
        <div #contact class="category"><app-contact></app-contact></div>
        <div #skills class="category"><app-skills></app-skills></div>
        <!--<div #experience class="category"><app-work-experience></app-work-experience></div>-->
        <div #projects class="category"><app-projects></app-projects></div>
        <div #studies class="category"><app-academic-background></app-academic-background></div>
        
    </article>
</div>